# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Sem 7 Project\Visualisation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
